<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.aimx.keyboardinputsound" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>KeyboardInputSound</name>
  <description>This plugin lets you use the iOS keyboard input sound.</description>
  <js-module name="KeyboardInputSound" src="www/KeyboardInputSound.js">
    <clobbers target="cordova.plugins.KeyboardInputSound" />
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="KeyboardInputSound">
        <param name="ios-package" value="KeyboardInputSound" />
      </feature>
    </config-file>
    <source-file src="src/ios/KeyboardInputSound.m" />
  </platform>
</plugin>
